JWT_SECRET= "vCPLkZH4K9NtwsNuNrTlQQi1d"
INIT_ADMIN_PASSWORD = "vynvqi5229"


# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?SCHEMA"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?SCHEMA"
