@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 191 84.5% 17.5%;
    /* --primary: 222.2 47.4% 11.2%; */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 189 52% 48%;
    /* --primary: 210 40% 98%; */
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.h1{
  @apply text-5xl xl:text-[60px] xl:leading-[80px] tracking-[2px] font-bold;
}

.hero-heading {
  @apply text-4xl xl:text-[60px] xl:leading-[80px] tracking-[1px] font-bold;

}








.subtitle{
  @apply text-muted-foreground text-lg mb-8 font-normal xl:text-[16px];
}


.spacing-top {
  margin-top: 40px; /* Sesuaikan jarak yang diinginkan */
}


.bg-hero{
  color: 210 40% 98%;

}


.bg-hero {
  background-image: url(/public/hero/wave-bg.png);
}

/* Mengurangi padding pada footer */
footer {
  padding-top: 10rem; /* Sesuaikan nilai ini untuk kebutuhanmu */
  padding-bottom: 2rem;
  margin-top: 2rem;  /* Menambahkan margin-top untuk memberikan jarak */
}

/* Mengatur posisi footer agar tidak terlalu ke bawah */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Jika footer masih terlalu ke bawah, tambahkan lebih banyak margin-top */



/* .socials-icon {
  color: var(--foreground-color);
  transition: color 0.3s ease;
}

.socials-icon:hover {
  color: blue; 
} */


