@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-foreground: 223, 84, 5;
}

.font-tentang {
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}
